body{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

.button{
    padding: 7px;
    border:1px solid black;
    background-color: rgb(25, 175, 83);
    display: inline-block ;
    color:white;
    font-weight: thin;
}

